body {
    background-color: #FAEDCD;
    font-family: 'Inter', sans-serif;
}

.navbar {
    background-color: #D4A373;
}

.nav-item {
    font-size: 2rem;
    margin-right: 10px;
    margin-left: 10px;
}

.header-text {
    color: #AD8156;
    font-weight: bolder;
}

.nav-icons {
    color: #543515;
}

.side-text {
    color: #8D5821;
    font-weight: bold;
}

.side-cont {
    height: 30vh;
    padding:  2.5vh;
    background-color: #FFFFFF;
}

.post {
    height: 17vh;
    padding: 2.5vh;
    background-color: #FFFFFF;
    display: flex;
}

.content-container {
    padding-left: 0 !important;
}

.line {
    height: 3px;
    background-color: #8D5821;
    margin-bottom: 1.5vh;
}

.posts {
    padding-left: 0 !important;
    width: 270vh;
    margin-right: 1.5vh;
}

.post:not(:first-child) {
    margin-top: 3vh;
}

.profile-pic {
    width:5.3vh;
}

.post-title {
    margin-bottom: -0.2vh;
    font-weight: bolder;
}

.post-content {
    font-weight: bold;
    margin-bottom: 1.5vh;
}

.post-info {
    font-size: smaller;
    margin-left: 0.5vh;
}

.post-tags {
    font-size: smaller;
    color: #D4A373;
}

.post-tags:hover {
    color: #8D5821;
    cursor: pointer;
}

.votes-cont, .comments-cont {
    border-radius: 10vh;
    background-color: #EBEBEB;
    padding-left: 2vh;
    padding-right: 2vh;
}

.votes-cont {
    margin-right: 1vh;
}

.add-tag {
    font-size: x-large;
}

.pop-tag {
    font-weight: bolder;
}

.pop-tag:hover {
    color: #D4A373;
    cursor: pointer;
}